.git
.venv
.data
.tools
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.DS_Store

frontend/node_modules
frontend/dist

ThermoRawFileParser/bin
ThermoRawFileParser/obj
ThermoRawFileParser/ThermoRawFileParserTest/bin
ThermoRawFileParser/ThermoRawFileParserTest/obj

images
